section.logins {
	width: 30%;
	float: left;
	background: green;
	height: 1000px;
	text-align: left;
}
form.userXlogin h5 {
	background-color: floralwhite;
	width: 80%;
	margin: 0 auto;
	padding: 5px;
	margin-bottom: 10px;
}

form.userXlogin {
	background-color: aquamarine;
	text-align: left;
	width: 250px;
	height: auto;
	margin: 0 auto;
	margin-top: 15px;
	padding: 10px 5px;
}
form.userXlogin button {
	width: 90px;
	height: 25px;
	color:antiquewhite;
	text-align: center;
	font-size: 9px;
	margin: 0 auto;
	margin-top: 10px;
}
form.userXlogin input {
	width: auto;
	height: 20px;
	font-size: 9px;
	text-align: left;
}
form.userOlogin h5 {
	background-color: floralwhite;
	width: 80%;
	margin: 0 auto;
	padding: 5px;
	margin-bottom: 10px;
}

form.userOlogin {
	background-color: lightskyblue;
	text-align: left;
	width: 250px;
	height: auto;
	margin: 0 auto;
	margin-top: 15px;
	padding: 10px 5px;
}
form.userOlogin button {
	width: 90px;
	height: 25px;
	color: ghostwhite;
	background-color: darkviolet;
	text-align: center;
	font-size: 9px;
	margin: 0 auto;
	margin-top: 10px;
}
form.userOlogin input {
	width: auto;
	height: 20px;
	font-size: 9px;
	text-align: left;
}
label {
	font-size: 9px;
	text-align: left;
}
