@charset "UTF-8";
/* CSS Document */
*{
	text-align: center;
	box-sizing: border-box;
	font-family: 'Press Start 2P', cursive;
}

header {
	background: blue;
	background-image: url(../media/robotsFightingBanner.png);
	background-position: left;
	background-repeat: repeat;
	background-size: contain;
	width: 100%;
	height: 160px;
	
}
header h1 {
	background-color:aqua;
	width: 240px;
	height: 90px;
	text-align: left;
	margin: 0 auto;
	padding: 10px;
	font-size: 24px
}
header h4 {
	background-color: wheat;
	padding: 20px;
	height: 70px;
	width: 200px;
	margin: 0 auto;
}
section.logins {
	width: 30%;
	float: left;
	background: green;
	height: 700px;
	text-align: left;
}
form.userXlogin h5 {
	background-color: floralwhite;
	width: 80%;
	margin: 0 auto;
	padding: 5px;
	margin-bottom: 10px;
}

form.userXlogin {
	background-color: aquamarine;
	text-align: left;
	width: 250px;
	height: auto;
	margin: 0 auto;
	margin-top: 15px;
	padding: 10px 5px;
}
form.userXlogin button {
	width: 90px;
	height: 25px;
	color:antiquewhite;
	text-align: center;
	font-size: 9px;
	margin: 0 auto;
	margin-top: 10px;
}
form.userXlogin input {
	width: auto;
	height: 20px;
	font-size: 9px;
	text-align: left;
}
form.userOlogin h5 {
	background-color: floralwhite;
	width: 80%;
	margin: 0 auto;
	padding: 5px;
	margin-bottom: 10px;
}

form.userOlogin {
	background-color: lightskyblue;
	text-align: left;
	width: 250px;
	height: auto;
	margin: 0 auto;
	margin-top: 15px;
	padding: 10px 5px;
}
form.userOlogin button {
	width: 90px;
	height: 25px;
	color: ghostwhite;
	background-color: darkviolet;
	text-align: center;
	font-size: 9px;
	margin: 0 auto;
	margin-top: 10px;
}
form.userOlogin input {
	width: auto;
	height: 20px;
	font-size: 9px;
	text-align: left;
}
label {
	font-size: 9px;
	text-align: left;
}
div.board_section {
	width: 50%;
	float: left;
	background: gray;
	height: 700px;
}
div.game_board {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	background: black;
	margin-top: 40px;
}
div.board_square {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	background-color: crimson;
	margin-top: 0;
	float: left;
	border: gray 2px solid;
}
div.board_square:hover {
	background-color: #821516}
#box0 {
	background-image: url(../media/oImage.png);
}
#box4 {
	background-image: url(../media/oImage.png);
}
#box5 {
	 background-image: url(../media/xImage.png);
}
#box7 {
	 background-image: url(../media/xImage.png);
}
aside.score {
	float: left;
	width: 20%;
	background: yellow;
	height: 700px;
}
div.score_board {
	height: 250px;
	width: 150px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: aquamarine;
}
table {
	width: 120px;
	height:100px;
	font-size: 12px;
	border: gray solid 2px;
	margin: 0 auto;
}
button {
	background-color: blueviolet;
	border-radius: 70px;
	border: inset 2px gray;
	height: 70px;
	color: yellow;
	font-family: 'Press Start 2P', cursive;
	font-size: 12px;
}
footer {
	clear: both;
	width: 100%;
	background: teal;
	height: 50px;
}
footer p {
	padding-top: 15px;
}

