section.logins {
	width: 30%;
	float: left;
	background: green;
	height: 1000px;
	text-align: left;
}
h5 {
	background-color: floralwhite;
	width: 80%;
	margin: 0 auto;
	padding: 5px;
	margin-bottom: 10px;
}

form.userX {
	background-color: aquamarine;
	text-align: left;
	width: 250px;
	height: auto;
	margin: 0 auto;
	margin-top: 15px;
	padding: 10px 5px;
}

form.userX input {
	width: auto;
	height: 20px;
	font-size: 9px;
	text-align: left;
}
label {
	font-size: 9px;
	text-align: left;
}
